USE [Agua]
GO
/****** Object:  Table [dbo].[Barios]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barios](
	[IdBarrio] [int] NOT NULL,
	[NombreBarrio] [varchar](50) NULL,
	[Zona] [nchar](10) NULL,
	[IdEstrato] [int] NULL,
 CONSTRAINT [PK_Barios] PRIMARY KEY CLUSTERED 
(
	[IdBarrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Consumo]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumo](
	[IdConsumo] [int] NOT NULL,
	[FechaIni] [date] NULL,
	[FechaFin] [date] NULL,
	[PrecioUni] [float] NULL,
	[Consumo] [float] NULL,
	[Total] [float] NULL,
 CONSTRAINT [PK_Consumo] PRIMARY KEY CLUSTERED 
(
	[IdConsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estratos]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estratos](
	[IdEstrato] [int] NOT NULL,
	[Estrato] [int] NULL,
 CONSTRAINT [PK_Estratos] PRIMARY KEY CLUSTERED 
(
	[IdEstrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factura]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] NOT NULL,
	[IdPredio] [int] NULL,
	[IdConsumo] [int] NULL,
	[FechaIni] [date] NULL,
	[FechaFin] [date] NULL,
	[VrConsumo] [float] NULL,
	[Consumo] [float] NULL,
	[TotalConsumo] [float] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Predios]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predios](
	[Idpredio] [int] NOT NULL,
	[Idpropietario] [int] NULL,
	[IdEstrato] [int] NULL,
	[IdBarrio] [int] NULL,
	[IdFactura] [nchar](10) NULL,
 CONSTRAINT [PK_Predios] PRIMARY KEY CLUSTERED 
(
	[Idpredio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Propietarios]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Propietarios](
	[IdPropietario] [int] NOT NULL,
	[Idpredio] [int] NULL,
	[Documento] [varchar](20) NULL,
	[Nombre] [varchar](30) NULL,
	[Direccion] [varchar](50) NULL,
	[Celular] [varchar](15) NULL,
	[Correo] [varchar](50) NULL,
 CONSTRAINT [PK_Propietarios] PRIMARY KEY CLUSTERED 
(
	[IdPropietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/08/2022 3:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Barios]  WITH CHECK ADD  CONSTRAINT [FK_Barios_Estratos] FOREIGN KEY([IdEstrato])
REFERENCES [dbo].[Estratos] ([IdEstrato])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Barios] CHECK CONSTRAINT [FK_Barios_Estratos]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Consumo] FOREIGN KEY([IdConsumo])
REFERENCES [dbo].[Consumo] ([IdConsumo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Consumo]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Predios] FOREIGN KEY([IdPredio])
REFERENCES [dbo].[Predios] ([Idpredio])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Predios]
GO
ALTER TABLE [dbo].[Predios]  WITH CHECK ADD  CONSTRAINT [FK_Predios_Barios] FOREIGN KEY([IdBarrio])
REFERENCES [dbo].[Barios] ([IdBarrio])
GO
ALTER TABLE [dbo].[Predios] CHECK CONSTRAINT [FK_Predios_Barios]
GO
ALTER TABLE [dbo].[Predios]  WITH CHECK ADD  CONSTRAINT [FK_Predios_Propietarios] FOREIGN KEY([Idpropietario])
REFERENCES [dbo].[Propietarios] ([IdPropietario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Predios] CHECK CONSTRAINT [FK_Predios_Propietarios]
GO
